/* Navbar styles */
.navbar {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Navbar Brand styles */
.navbar-brand {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Section title styles */
.section-title {
    margin-bottom: 15px;
}

/* Gallery Section styles */
#gallery {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
    padding: 60px 0;
}

/* Section title styles */
.section-title {
    margin-bottom: 15px;
}

/* Gallery Image styles */
#gallery .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .col-md-4 {
    margin-bottom: 30px;
}

#gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

#gallery img:hover {
    transform: scale(1.05);
}
