/* Reset some default browser styles */
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
    color: #1E416D; /* Dark blue color for text content */
}

figure.col-6 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    line-height: 1.6;
}

/* Header styles */
header {
    padding-top: 56px;
}

.navbar {
    margin-bottom: 0;
    background-color: #1E416D; /* Dark blue background for navbar */
    color: #FFFFFF; /* White text color for navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 40px;
}

.background {
    position: relative;
    width: 100%;
}

.background-image {
    background-image: url('assets/QooApp.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Team Information Section styles */
#team .row {
    display: flex;
    flex-wrap: wrap;
}

#team article,
#team figure {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#team article h3,
#team article h1 {
    order: -1;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #team article,
    #team figure {
        width: 48%;
        margin: 0 1%;
    }
    main {
        padding-top: 56px;
    }
}

#team {
    padding: 60px 0;
}

#team article {
    text-align: justify;
}

#team h1,
#team p,
#team figure img {
    color: #1E416D; /* Dark blue color for text content */
}

/* Players Section styles */
#players {
    text-align: center;
}

#players .card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#players .card {
    max-width: 300px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* White background color for player cards */
    color: #1E416D; /* Dark blue color for text content in player cards */
}

#players .card img {
    max-width: 100%;
    height: 300px;
}

#players .card-body {
    text-align: left;
    color: #1E416D; /* Dark blue color for text content in card body */
}
#players .info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #1E416D; /* Dark blue color for text content in player info */
}

#players .info p {
    margin: 0;
}

#players .badge {
    background-color: burlywood;
    color: #1E416D; /* Dark blue color for badge text */
}

/* Styling for Fixtures Section */
/* Styling for Fixture */
.fixture {
    background-color: #1E416D;
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for spacing between fixtures */
}

.fixture:hover {
    transform: scale(1.05);
}


.fixture p {
color: #FFFFFF;}


.team-logo {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-logo img {
    max-width: 50px;
    max-height: 100%;
    height: auto;
    border-radius: 50%;
}

.vs {
    font-weight: bold;
    font-size: 35px;
    margin: 10px 35px; /* Add some spacing above and below 'vs' */
}

.date-time {
    color: #555;
}

#fixtures .stadium {
    color: #FFFFFF;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

#fixtures .stadium-name {
    color: #1E416D;
    font-weight: bold;
    font-size: 18px;
}




/* Style for Standings Section */
#standings {
    padding: 60px 0;
}

.section-title {
    color: #1E416D; /* Dark blue color for section title */
}

/* Style for the Standings Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
}

.table thead th {
    background-color: #E5E5E5;
    color: #1E416D; /* Dark blue color for table header text */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #d8e7fc;
}

/* Responsive Table */
.table-responsive {
    overflow-x: auto;
}

/* Style for Sponsors Section */
#sponsors {
    background-color: #1E416D; /* Dark blue background color for sponsors section */
    color: #FFFFFF; /* White text color for sponsors section */
    padding: 60px 0;
}

.section-title {
    color: #1E416D; /* Dark blue color for section title */
}

/* Style for Sponsor Cards */
.card {
    transition: transform 0.2s;
    text-align: center;
}

.sponsor-logo {
    margin: 0 auto;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Section title styles */
.section-title {
    margin-bottom: 30px;
}

/* Style for Footer Section */
footer {
    background-color: #1E416D; /* Dark blue background color for footer */
    color: #FFFFFF; /* White text color for footer */
    padding-top: 2rem;
}

/* Style for Nankatsu FC Logo */
footer h6 img {
    max-width: 100%;
    height: auto;
}

/* Style for Address Section */
footer p {
    margin-bottom: 1rem;
    color: #FFFFFF; /* White text color for footer address */
}

/* Style for Social Media Buttons */
footer .btn-floating {
    border-radius: 30px;
    margin: 0.1rem;
}

/* Style for Company, Policy, Get In Touch Section */
footer .col-md-2,
footer .col-md-3,
footer .col-md-4 {
    text-align: left;
    margin-bottom: 2rem;
}

/* Style for Copyright Section */
footer .text-center {
    font-size: 14px;
    padding: 3px;
    color: #FFFFFF; /* White text color for copyright section */
}

/* Style for Horizontal Rule */
footer hr {
    margin: 1rem 0;
    border-color: #FFFFFF; /* White border color for horizontal rule */
}

/* Media query for larger screens */
@media (min-width: 992px) {
    .navbar .navbar-collapse {
        display: block;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        color: #FFFFFF; /* White text color for navbar links on larger screens */
    }
}
