/* Navbar styles */
.navbar {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar Link styles */
.navbar-nav .nav-link {
    padding: 10px;
    color: #2F4F4F; /* Hitam Coklat */
}

/* Navbar Dropdown Link styles */
.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: #FFFFFF; /* Putih untuk teks saat dihover */
}

/* Navbar Dropdown Menu styles */
.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #F5F5DC; /* Krem */
}

/* Navbar Dropdown Menu Item styles */
.navbar-nav .nav-item.dropdown .dropdown-menu a {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Navbar Dropdown Menu Item Hover styles */
.navbar-nav .nav-item.dropdown .dropdown-menu a:hover {
    background-color: #2F4F4F; /* Hitam Coklat saat dihover */
    color: #FFFFFF; /* Putih untuk teks saat dihover */
}

/* Navbar Dropdown Logo styles */
.navbar-nav .nav-item.dropdown .navbar-brand img {
    max-height: 30px; /* Sesuaikan ukuran maksimum sesuai kebutuhan */
}

/* Navbar Dropdown Menu styles */
.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #2F4F4F; /* Hitam Coklat */
}

/* Navbar Dropdown Menu Item styles */
.navbar-nav .nav-item.dropdown .dropdown-menu a {
    color: #FFFFFF; /* Putih */
}

/* Navbar Dropdown Menu Item Hover styles */
.navbar-nav .nav-item.dropdown .dropdown-menu a:hover {
    background-color: #D2B48C; /* Tan saat dihover */
    color: #2F4F4F; /* Hitam Coklat saat dihover */
}


/* Background styles */
.background-image {
    background-image: url('assets/QooApp.jpeg');
}

/* Team Information Section styles */
#team h1,
#team p,
#team figure img {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Players Section styles */
#players .card {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
}

/* Styling for Fixtures Section */
.fixture {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
}

/* Style for Standings Section */
#standings {
    background-color: #F5F5DC; /* Krem */
}

/* Style for Sponsor Cards */
.card {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Footer Section styles */
footer {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
}

/* Copyright Section styles */
footer .text-center {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Horizontal Rule styles */
footer hr {
    border-color: #2F4F4F; /* Hitam Coklat */
}

/* Header styles */
header {
    padding-top: 56px;
}

/* Styling for Navbar */
.navbar {
    margin-bottom: 0;
}

/* Navbar Brand styles */
.navbar-brand img {
    max-height: 40px;
}

/* Background Section styles */
.background {
    position: relative;
    width: 100%;
}

.background-image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Team Information Section styles */
#team {
    padding: 60px 0;
}

#team .row {
    display: flex;
    flex-wrap: wrap;
}

#team article,
#team figure {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#team article h3,
#team article h1 {
    order: -1;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #team article,
    #team figure {
        width: 48%;
        margin: 0 1%;
    }
    main {
        padding-top: 56px;
    }
}

#team article {
    text-align: justify;
}

/* Players Section styles */
#players {
    text-align: center;
    padding: 60px 0;
}

#players .card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#players .card {
    max-width: 300px;
    margin: 10px;
    background-color: rgba(196, 158, 114, 0.8); /* Tan */
    color: #2F4F4F; /* Hitam Coklat */
}

#players .card img {
    max-width: 100%;
    height: 300px;
}

#players .card-body {
    text-align: left;
    color: #2F4F4F; /* Hitam Coklat */
}

#players .info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #2F4F4F; /* Hitam Coklat */
}

#players .info p {
    margin: 0;
}

#players .badge {
    background-color: #D2B48C; /* Burlywood */
    color: #2F4F4F; /* Hitam Coklat */
}

/* Styling for Fixtures Section */
#fixtures {
    padding: 60px 0;
}

.fixture {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for spacing between fixtures */
}

.fixture:hover {
    transform: scale(1.05);
}

.fixture p {
    color: #2F4F4F; /* Hitam Coklat */
}

.team-logo {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-logo img {
    max-width: 50px;
    max-height: 100%;
    height: auto;
    border-radius: 50%;
}

.vs {
    font-weight: bold;
    font-size: 35px;
    margin: 10px 35px; /* Add some spacing above and below 'vs' */
}

.date-time {
    color: #555;
}

#fixtures .stadium {
    color: #2F4F4F; /* Hitam Coklat */
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

#fixtures .stadium-name {
    color: #F5F5DC; /* Krem */
    font-weight: bold;
    font-size: 18px;
}

/* Style for Standings Section */
#standings {
    padding: 60px 0;
}

.section-title-h2 {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Style for the Standings Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
}

.table thead th {
    background-color: #E5E5E5;
    color: #2F4F4F; /* Hitam Coklat */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #d8e7fc;
}

/* Responsive Table */
.table-responsive {
    overflow-x: auto;
}

/* Style for Sponsors Section */
#sponsors {
    background-color: #F5F5DC; /* Krem */
    color: grey; /* White text color for sponsors section */
    padding: 60px 0;
}

.section-title {
    color: #2F4F4F; /* Hitam Coklat */
}

/* Style for Sponsor Cards */
.card {
    transition: transform 0.2s;
    text-align: center;
}

.sponsor-logo {
    margin: 0 auto;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Section title styles */
.section-title {
    margin-bottom: 30px;
}

/* Style for Footer Section */
footer {
    background-color: #F5F5DC; /* Krem */
    color: #2F4F4F; /* Hitam Coklat */
    padding-top: 2rem;
}

/* Style for Nankatsu FC Logo */
footer h6 img {
    max-width: 100%;
    height: auto;
}

/* Style for Address Section */
footer p {
    margin-bottom: 1rem;
    color: #2F4F4F; /* Hitam Coklat */
}

/* Style for Social Media Buttons */
footer .btn-floating {
    border-radius: 30px;
    margin: 0.1rem;
}

/* Style for Company, Policy, Get In Touch Section */
footer .col-md-2,
footer .col-md-3,
footer .col-md-4 {
    text-align: left;
    margin-bottom: 2rem;
}

/* Style for Copyright Section */
footer .text-center {
    font-size: 14px;
    padding: 3px;
    color: #2F4F4F; /* Hitam Coklat */
}

/* Style for Horizontal Rule */
footer hr {
    margin: 1rem 0;
    border-color: #2F4F4F; /* Hitam Coklat */
}

/* Media query for larger screens */
@media (min-width: 992px) {
    .navbar .navbar-collapse {
        display: block;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        color: #2F4F4F; /* Hitam Coklat */
    }
}
